body {
	background: #f4f2f5;
	height: 100%;
	max-width: 100%;
	min-width: 50%;
	border: 0;
	position: relative;
}

div {
	height: 60%;
	width: 98%;
	margin: auto;
}

form#rad {
	display: none;
}

canvas {
	display: none;
	width: 100%;
}

button{
	display: block;
	margin-left: 5%;
	border-radius: 30px;
	font-size: 9vmin;	
	color: white;
	border: none;
}

.btn{
	width: 90%;
	height: 50%;
}

.sub {
	width: 70%;
	font-size: 9vmin;
	text-align: center;
}

input {
	background-color: #2196F3;
	vertical-align: middle;
	display: none;	
}

button#hide {
	display: none;
	background-color: #f45042;
}

button#select {
	background-color: #4286f4;
}


button#generate {
	background-color: #f49e42;
}

label {
	border: 1px solid #ccc;
	padding: 10px;
	margin: 0 0 10px;
	width: 25%; 
	position: relative;
	text-align: left;
	border-radius: 30px;
	display: inline-table;
}

.checkbox {
	max-height: 100%;
}

.check:checked + .cblabel {
	background-color: #91b4ff;
}

@media screen and (max-width: 768px){
	label {
		display: block;
		text-align: center;
		width: 70%;
		font-size: 23px;
	}
}