
body {
	background-color: #f9f9f9;
}

div {
	height: 30%;
	width: 98%;
	margin: auto;
}

div#rad {
	display: none;
}

canvas {
	display: none;
}

button {
	display: block;
	border: none;
	color: white;
	width: 90%;
	margin-left: 5%;
	height:50%;
	border-radius: 30px;
	font-size: 9vmin;
}

input {
	background-color: #2196F3;
	vertical-align: middle;
	
}
button#hide {
	display: none;
	background-color: #f45042;
}

button#select{
	background-color: #4286f4;
}

button#generate{
	background-color: #f49e42;
}