body {
	background-color: #f9f9f9;
	height: 100%;
	max-width: 100%;
	min-width: 50%;
}

div {
	height: 60%;
	width: 98%;
	margin: auto;
}

div#rad {
	display: none;
}

canvas {
	display: none;
}

button {
	display: block;
	border: none;
	color: white;
	width: 90%;
	margin-left: 5%;
	height: 50%;
	border-radius: 30px;
	font-size: 9vmin;
}

input {
	background-color: #2196F3;
	vertical-align: middle;
	display: none;
}

button#hide {
	display: none;
	background-color: #f45042;
}

button#select {
	background-color: #4286f4;
}

button#generate {
	background-color: #f49e42;
}

label {
	border: 1px solid #ccc;
	padding: 10px;
	margin: 0 0 10px;
	display: inline-table;
	width: 25%; 
	text-align: left;
	border-radius: 30px;
}

.genhide {
	position: relative;
}

.checkbox {
	position: relative;
	max-height: 100%;
}

.check:checked + .cblabel {
	background-color: blue;
}

