
body {
	background-color: #f9f9f9;
}

div {
	height: 30%;
	width: 98%;
	margin: auto;
}

.btn {
	display: block;
	border: none;
	color: white;
	width: 90%;
	margin-left: 5%;
	height:50%;
	border-radius: 30px;
	font-size: 9vmin;
}

.btn[name=select]{
	background-color: #4286f4;
}

.btn[name=generate]{
	background-color: #f49e42;
}