body{
	width: 100%;
	padding: 0;
	margin: 0;
background-color: white;

}

.container1 {
  margin: 0%;
  padding: 5%;
  column-count: 2;
  width: auto;
  height:50vh;
}
.container1 h2{
	text-align: center;
	font-style:italic;
	font-family:Elephant;
	color:#23447C    ;

}
.container1 p{
	font-family:Adobe Kaiti Std R;
	font-size:20px;
	text-align:center;
}
.container1 p::first-line { 
  font-style:italic;
  font-weight:bold;
  font-size:18px;
}
.container1 img {
  width:70%;
  height: 50%;
  margin:0;
  padding: 0;
  border-radius: 10px 10px 10px 10px; 
}

.container2 {
  margin: 0%;
  padding: 5%;
  opacity:0.9;
  column-count: 2;
  width: auto;
  height:50vh;

}
.container2 h2{
	text-align: center;
	font-style:italic;
	font-family:Elephant;
	color:#23447C    ;

}
.container2 p{
	font-family:Adobe Kaiti Std R;
	font-size:20px;
	text-align:center;
}


.container2 img {
  width:75%;
  height: 150%;
  margin:0;
  padding: 0;
  border-radius: 10px 10px 10px 10px;

}
.grocery2 h2{
	text-align: left;
}
.grocery2 p{
	text-align: left;
}
footer { 
    padding:  2px;
    color:white;
    background-color:black;

}
footer p{
	font-family:Adobe Kaiti Std R;
	font-size:20px;
	text-align:center;
}
